---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: podinfo
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      chart: podinfo
      version: "6.9.4"
      sourceRef:
        kind: HelmRepository
        name: podinfo
        namespace: default
      interval: 1m
  values:
    httpRoute:
      enabled: true
      parentRefs:
        - name: traefik-gateway
          namespace: traefik
          sectionName: websecure
      hostnames:
        - podinfo.talos.detainedu.com
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
