# manifests/infrastructure/hcloud-controller-manager/kustomization.yaml
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - secrets.yaml
  - repository.yaml
  - release.yaml
