# manifests/cluster/flux-system/rustfs.yaml
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: rustfs
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./manifests/infrastructure/rustfs
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  decryption:
    provider: sops
    secretRef:
      name: sops-age
