# manifests/infrastructure/openobserve/release.yaml
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openobserve
  namespace: openobserve
spec:
  interval: 5m
  chart:
    spec:
      chart: openobserve-standalone
      version: "0.20.1"
      sourceRef:
        kind: HelmRepository
        name: openobserve
        namespace: openobserve
      interval: 1m
  values:
    config:
      ZO_TELEMETRY: "false"
      ZO_TELEMETRY_URL: http://127.0.0.1
      ZO_WEB_URL: https://obs.talos.detainedu.com
    persistence:
      enabled: true
      size: 20Gi
    ingress:
      enabled: true
      className: "traefik"
      annotations:
        cert-manager.io/issuer: null
        cert-manager.io/cluster-issuer: letsencrypt-production
      hosts:
        - host: obs.talos.detainedu.com
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - secretName: obs.talos.detainedu.com-tls
          hosts:
            - obs.talos.detainedu.com
    extraEnv:
      - name: ZO_ROOT_USER_EMAIL
        valueFrom:
          secretKeyRef:
            name: openobserve-credentials
            key: ZO_ROOT_USER_EMAIL
      - name: ZO_ROOT_USER_PASSWORD
        valueFrom:
          secretKeyRef:
            name: openobserve-credentials
            key: ZO_ROOT_USER_PASSWORD
