# manifests/infrastructure/traefik/release.yaml
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 1m0s
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
      version: 37.4.0
  values:
    providers:
      kubernetesGateway:
        enabled: true
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`dashboard.localhost`)
        entryPoints:
          - web
    ports:
      web:
        proxyProtocol:
          trustedIPs:
            - 0.0.0.0
        forwardedHeaders:
          trustedIPs:
            - 0.0.0.0
    gateway:
      listeners:
        web:
          namespacePolicy:
            from: All
