# manifests/infrastructure/traefik/release.yaml
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 1m0s
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
      version: 37.4.0
  values:
    providers:
      kubernetesIngress:
        enabled: false
      kubernetesGateway:
        enabled: true

    ingressClass:
      enabled: false

    ingressRoute:
      dashboard:
        enabled: true
        insecure: false
        matchRule: Host(`dashboard.localhost`)
        entryPoints:
          - traefik

    ports:
      web:
        nodePort: 30080
        expose:
          default: true
          internal: true
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
      websecure:
        nodePort: 30443
        expose:
          default: true
          internal: true

    service:
      enabled: true
      single: true
      type: LoadBalancer
      annotations:
        load-balancer.hetzner.cloud/location: fsn1
        load-balancer.hetzner.cloud/name: lb-kubernetes
        load-balancer.hetzner.cloud/use-private-ip: "true"
      loadBalancerSourceRanges:
        - 0.0.0.0/0

    logs:
      general:
        level: INFO
      access:
        enabled: true
