# manifests/infrastructure/traefik/release.yaml
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 1m0s
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
      version: 37.4.0
  values:
    providers:
      kubernetesGateway:
        enabled: true
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`dashboard.localhost`)
        entryPoints:
          - traefik
    ports:
      web:
        expose:
          default: true
          internal: true
        proxyProtocol:
          trustedIPs:
            - 10.0.0.2
        forwardedHeaders:
          trustedIPs:
            - 10.0.0.2
      websecure:
        expose:
          default: true
          internal: true
    service:
      enabled: true
      single: true
      type: LoadBalancer
      annotations:
        load-balancer.hetzner.cloud/location: fsn1
        load-balancer.hetzner.cloud/name: lb-kubernetes
        load-balancer.hetzner.cloud/use-private-ip: "true"
      loadBalancerSourceRanges:
        - 0.0.0.0/0
    gateway:
      listeners:
        web:
          namespacePolicy:
            from: All
    tlsStore:
      default:
        defaultCertificate:
          secretName: wildcard-talos-detainedu-com-tls
