# manifests/infrastructure/traefik/repository.yaml
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 5m0s
  url: https://helm.traefik.io/traefik
